* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
a,
button,
h1,
h2,
h3,
h4 {
	color: rgb(40, 40, 40);
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	padding: 2rem 10rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}

nav .logo {
	font-size: 1.4rem;
	font-weight: bold;
}

.nav__links {
	display: flex;
	gap: 1rem;
}
.nav__link {
	text-decoration: none;
}

.first-page {
	padding: 5rem 10rem;
}
