* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
a,
button,
h1,
h2,
h3,
h4 {
	color: rgb(40, 40, 40);
}

body {
	max-width: 100vw;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px 10rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	z-index: 10;
	background-color: rgba(255, 255, 255, 0.644);
}

nav .logo {
	font-size: 1rem;
	font-weight: bold;
}

nav button {
	background-color: cornflowerblue;
	font-family: inherit;
	color: white;
	border: none;
	border-radius: 1rem;
	padding: 5px 1rem;
	cursor: pointer;
}

.nav__links {
	display: flex;
	gap: 1.5rem;
}
.nav__link {
	text-decoration: none;
}

section {
	min-height: 100vh;
}

.first-page {
	overflow: hidden;
	padding: 5rem 10rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.heading--1 {
	font-size: 4rem;
}

.first-page video {
	position: absolute;
	z-index: -1;
	width: 100vw;
}

/* Second page */
.second-page {
	min-height: 150vh;
	color: rgba(255, 255, 255, 0.733);
	position: relative;
	overflow: hidden;
}

.second-page__text {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 3.5rem;
	transform: translate(-50%, -50%);
}

.smoke-video {
	height: 100%;
}

/* Third page */
.third-page {
	padding: 0 10rem;
}
