* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
a,
button,
h1,
h2,
h3,
h4 {
	color: rgb(40, 40, 40);
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 15rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 40rem;
}
